= semantic_form_for @port do |f|
  = #f.error_messages
  = f.inputs do
    = f.input :component_id, :as => :hidden, :value => @port.component.id
    = f.input :usage_type, :as => :hidden, :value => params[:usage_type]
    = f.input :label, :hint => "This is the label that users see"
    = f.input :name, :hint => "This should be a unique name with no spaces or dodgy characters (underscores and dashes are fine)"
    = f.input :depth, :as => :numeric
    = f.input :visible, :as => :boolean
    = f.buttons do
      = f.commit_button