= semantic_form_for @component do |f|
  = #f.error_messages
  = f.inputs do
    = f.input :label, :hint => "A short title that will be shown in most places. Example: 'DNA 2 RNA'"
    = f.input :title, :label => "Full Title"
    = f.input :taverna_activity
    = f.input :description
    = f.buttons do
      = f.commit_button
