- title "Component: #{@component.label} (v#{@component.version})"

%h1
  Component:
  = @component.label
  %span.extra_text
    (v#{@component.version})
%h3= @component.title
%p.buttons
  = button "Edit", edit_component_path(@component), :size => :medium
  = button "Destroy", @component, :confirm => 'Are you sure?', :method => :delete, :size => :medium
  = button "View All", components_path, :size => :medium
%br
%p.center
  %strong Taverna Activity:
  = @component.taverna_activity.title
  %span.separator_pipe
    |
  %strong Submitter:
  = @component.submitter_name
%p
  %strong Description:  
%p.box_description
  = @component.description
  
.tab-container
  %ul
    %li
      %a{ :href => "#config_fields" }
        Config Fields
    %li
      %a{ :href => "#ports" }
        Ports
    %li
      %a{ :href => "#q_and_a" }
        Q & A
    %br{ :style => "clear:both;" }
  .panel-container
    #config_fields
      %h2 Heading
      %p content content content
    #ports
      %h2 Heading
      %p content content content
    #q_and_a
      %h2 Heading
      %p content content content 