- title "Component: #{@component.label} (v#{@component.version})"

%h1
  Component:
  = @component.label
  %span.extra_text
    (v#{@component.version})
%h3= @component.title
%p.buttons
  = button "Edit", edit_component_path(@component), :size => :medium
  = button "Destroy", @component, :confirm => 'Are you sure?', :method => :delete, :size => :medium
  = button "View All", components_path, :size => :medium
%br
%p.center
  %strong Taverna Activity:
  = @component.taverna_activity.title
  %span.separator_pipe
    |
  %strong Submitter:
  = @component.submitter_name
%p.box_description
  %strong Description:
  = @component.description
  
#tab-container.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
  %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
    %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active
      %a{ :href => "#config_fields" }
        Config Fields
    %li.ui-state-default.ui-corner-top
      %a{ :href => "#ports" }
        Ports
    %li.ui-state-default.ui-corner-top
      %a{ :href => "#other" }
        Other
  .ui-tabs-panel.ui-widget-content.ui-corner-bottom
    #config_fields
      %h2 Heading
      %p content content content
    #ports
      %h2 Heading
      %p content content content
    #other
      %h2 Heading
      %p content content content 